<% include header %>
<% projects = JSON.parse(projects) %>


<div class="row-fluid">
  <div class="span6 white-background-submissions">
    <h1>List of Project Submissions</h1>
    <p>To approve a project submissions, <em>click ‘Approved’</em>. To request the student(s) to resubmit a project, <em>click ‘Resubmit’</em>. Simple as that. Approved projects will go live to the website and iOS app. You are responsible to email students you’ve requested to resubmit. They will have to go through the submission process again and their work will be at the end of the queue for the approval process.</p>
    <p><span class="label label-warning">Tip!</span> We’ve added a link to the student’s email account. If something fishy is submitted, simply click their email and you’ll be setup with an email to offer feedback.</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 white-background-submissions">
    <ul class="student-submissions">
      <% for (var i = 0; i < projects.length; i++) { %>
        <li>
          <div class="row-fluid">
            <div class="span3">
              <ul class="student-info">
                <li><strong><%= projects[i].author %></strong></li>
                <li><a href="mailto:<%= projects[i].email %>?subject=Your Emily Carr Grad Catalog Work" target="_blank"><%= projects[i].email %></a></li>
                <li><%= projects[i].website %></li>
                <li><%= projects[i].title %></li>
                <li><%= projects[i].degree %></li>
                <li><%= projects[i].medium %></li>
                <li><%= projects[i].measurements %></li>
                <% for (var j = 0; j < projects[i].assets.length; j++) { %>
                  <% if (projects[i].assets[j].type == "video") { %>
                    <li>Vimeo Link: <a href="<%= projects[i].assets[j].url %>" title="Link to student's Vimeo embed" target="_blank"><%= projects[i].assets[j].url %></a></li>
                  <% } %>
                <% } %>
                <form name="approve-<%= projects[i].id %>" action="/approve/project/<%= projects[i].id %>" method="post">
                  <input type="hidden" name="projectid" value="<%= projects[i].id %>">
                  <input type="submit" value="Approved" class="btn btn-info approve"> 
                </form>
                <form name="reject-<%= projects[i].id %>" action="/approve/project/<%= projects[i].id %>" method="post">
                  <input type="hidden" name="projectid" value="<%= projects[i].id %>">
                  <input type="submit" value="Resubmit" class="btn btn-danger">  
                </form>
              </ul> 
            </div>
            <% for (var k = 0; k < projects[i].assets.length; k++) { %>
                <% if (projects[i].assets[k].type == "image") { %>
                  <div class="span3">
                    <img src="<%= projects[i].assets[k].thumbnailurl %>">
                  </div>
                <% } %>
            <% } %>
          </div>
        </li>
      <% } %>
      <% if (projects.length < 1) { %>
        <li>There are no more projects to curate at this time.</li>
      <% } %>
    </ul>
  </div>
</div>
    
<% include footer %>
