<% include header %>

<div class="row-fluid">
    <ul style="background-color:#ffffff">
        <%  for (var i = 0; i < projects.length; i++) { %>
        <li>
            <p>
                <strong><a href="/<%= projects[i].year %>/project/<%= projects[i].id %>/<%= projects[i].degree.replace(/ /g,'-') %>/<%= projects[i].author.toLowerCase().replace(/ /g,'-')
        .replace(/[^\w-]+/g,'') %>"><%= projects[i].title %></a>
                </strong> - 
                <em>
                <a href="/<%= projects[i].year %>/project/<%= projects[i].id %>/<%= projects[i].degree.replace(/ /g,'-') %>/<%= projects[i].author.toLowerCase().replace(/ /g,'-')
        .replace(/[^\w-]+/g,'') %>"><%= projects[i].author %></a>
              </em>
            </p>
        </li>
        <% } %>
    </ul>
</div><!-- End Row-Fluid -->

<% include footer %>